/********************************************************
			ThemeMagics Custom Styles
********************************************************/
.tmg-carousel {
  display: none;
  position: relative;
  margin: 0;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}

.owl-page {cursor: pointer;}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  border-color: blue;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/tmgs/grabbing.png") 8 8, move;
}
.customNavigation {
  position: absolute;
  top:-70px;
  right:10px;
  display:inline-block;
  z-index: 959;
  width: 85px;
  text-align:right;
  padding: 0;
  direction: ltr !important;
}
.tmg-hometabcontent .customNavigation, .special-products .customNavigation{top:-55px;}
.customNavigation a {
  font-size: 0;
  padding: 0;
  margin:0 3px;
  border: none;
  color: #fff;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.customNavigation a:hover{
	
}
.brands .customNavigation a {
    top: 30px;
}
.lastest_block .customNavigation a {
    top: 30%;
}
/* -------------- Slick css ---------------*/

#testimonial-carousel.tmg-carousel {
    display: block;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-list {
	direction: ltr !important;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	height:370px;
}
#tmgbottomcms .testimonial_main .item.slick-slide .user-description {
	visibility: hidden;
    opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
    transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}

#tmgbottomcms .testimonial_main .item.slick-slide.slick-center .user-description {
	visibility: visible;
    opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
    transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}
#tmgbottomcms .testimonial_main .item.slick-slide.slick-active {
    visibility: visible;
}
#tmgbottomcms .testimonial_main .item.slick-slide {
    padding: 60px 0 0;
	visibility:hidden;
/*	opacity: 0.6;
	-webkit-opacity: 0.6;
	-moz-opacity: 0.6;
	-o-opacity: 0.6;*/
     transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}
#tmgbottomcms .testimonial_main li.slick-current.slick-active.slick-center {
    padding: 0;
	 opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
    transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}

#tmgbottomcms .testimonial_main .item.slick-current.slick-active.slick-center .testmonial-image {
    width: 115px;
	transition: all 0.45s ease 0s;
	-webkit-transition: all 0.45s ease 0s;
	-moz-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
}
#tmgbottomcms .testimonial_main div .slick-center .product_inner_cms .des > p{font-size:13px; line-height:22px; padding-top:20px;}
#tmgbottomcms .testimonial_main div .slick-center .product_inner_cms .name a{font-size:15px;}
#tmgbottomcms .testimonial_main div .slick-center .product_inner_cms .testmonial-user .desig{font-size:12px; line-height:15px;}
#tmgbottomcms .testimonial_main div .slick-center .product_inner_cms .testmonial-quotes {width:30px;}
.slick-prev.slick-arrow {
    background: rgba(0, 0, 0, 0) url("../img/tmgs/back.svg") no-repeat scroll 0 center / 30px 30px;
    border: medium none;
    font-size: 0;
	padding: 15px;
	 position: absolute;
    left: 0;
    top: 50%;
	 z-index: 9;
	 display:none !important;
}
.slick-next.slick-arrow{
	background: rgba(0, 0, 0, 0) url("../img/tmgs/next.svg") no-repeat scroll 0 center / 30px 30px;
    border: medium none;
    font-size: 0;
	padding: 15px;
	 position: absolute;
    right: 0;
    top: 50%;
	display:none !important;
}
.tmg-carousel {
  display: none;
  position: relative;
  margin: 0;
  -ms-touch-action: pan-y;
}

.slick-active.slick-center .product_inner_cms {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
	width:425px;
	margin-left:-30px;
	padding:50px 20px 20px;
}

.products:hover .customNavigation a.prev {
  	opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
}

.products:hover .customNavigation a.next {
	opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  -ms-opacity: 1;
}

.customNavigation a:hover{
 	background-color:#357cff;
}
.customNavigation a.prev:hover{/* background-position: center -117px;*/ background-color:#357cff;}
.customNavigation a.next:hover{/* background-position: center 8px;*/ background-color:#357cff;}

#tmgbottomcms .customNavigation {
    display:none;
}
.customNavigation a.prev {
  background:#ffc600 url("../img/tmgs/arrow.png") no-repeat scroll center -117px;
  left: -30px;
/*  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;*/
}
.customNavigation a.next {
  background:#ffc600 url("../img/tmgs/arrow.png") no-repeat scroll center 8px;
  right: -30px;
/*  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;*/
}
#tmgfeaturedcms .customNavigation{margin: 0; position: absolute; top: 44%; left: 0; right: 0; width:100%;}
#tmgfeaturedcms .customNavigation a {
    position: absolute;
    top: 34%;
    margin: 0;
}
#tmgfeaturedcms .customNavigation a.prev {
  left: 10px;
}
#tmgfeaturedcms .customNavigation a.next {
  right: 10px;
}
/*#tmgfeaturedcms .customNavigation a.prev:hover {
  background-position: center 10px ;
}
#tmgfeaturedcms .customNavigation a.next:hover {
  background-position: center 5px) ;
}*/
/*.customNavigation a.next::before {
    border-top: 1px solid #dddddd;
    content: "";
    height: 1px;
    position: absolute;
    right: -61px;
    top: 10px;
    width: 60px;
}
.customNavigation a.next::after {
    border-bottom: 1px solid #dddddd;
    content: "";
    height: 1px;
    position: absolute;
    right: -41px;
    top: 15px;
    width: 40px;
}

.customNavigation a.prev::before {
    border-top: 1px solid #dddddd;
    content: "";
    float: left;
    height: 1px;
    left: -61px;
    position: absolute;
    text-align: left;
    top: 10px;
    width: 60px;}
	
.customNavigation a.prev::after {
    border-bottom: 1px solid #dddddd;
    content: "";
    height: 1px;
    left: -41px;
    position: absolute;
    top: 15px;
    width: 40px;
}*/
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
.customNavigation a.prev {
    left: 0 ;
}

.customNavigation a.next {
    right: 0;
}

}

@media (max-width: 1199px) {
	.slick-active.slick-center .product_inner_cms{width:345px;}
}

@media (max-width: 991px) {
/*	.customNavigation a.prev {
		left: 0px;
		background-size:15px 15px;
	}
	.customNavigation a.next {
		right: 0px;
		background-size:15px 15px;
		
	}*/
	.slick-active.slick-center .product_inner_cms{margin:-30px auto 0;}
/*	.tab-content .customNavigation{width:100%; text-align:center; top:-40px; right:0;}*/
}
@media (max-width: 767px) {
	.slick-active.slick-center .product_inner_cms{width:350px;}
	.tmg-hometabcontent .customNavigation{top:-28px; right:0; text-align:center; width:100%;}
}
@media (max-width: 467px) { 
	/*#main .images-container .js-qv-mask { margin:0px; }
	.customNavigation{
	width:51px;
	}*/
	.slick-active.slick-center .product_inner_cms{width:100%;}
	.slick-list{height:450px;}
}
/*.customNavigation a.prev:before {
  content: "\E314";
  font-family: "Material Icons";
   font-size: 30px;
   color: #fff;
	line-height: 28px;
    text-indent: -1px;
	display: none;
}
.customNavigation a.next:before {
  content: "\E315";
  	display: none;
  font-family: "Material Icons";
  font-size: 30px; 
text-indent: 0px;

line-height: 28px;
    text-indent: 1px;
    color: #fff;
}*/

#tmgleftbanner img,
#tmgrightbanner img{
	max-width: 100%;
}	